* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.btn-primary {
    background: #FF5959;
    border-radius: 5px;
    padding: 15px 30px;
    color: white;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

/* header section styles */
.header {
    display: flex;
    align-items: center;
    background-image: url(./images/donation5.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 9;
}

.header::after {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}

.banner {
    color: white;
    padding: 0 280px;
    text-align: center;
}

.banner .header-title {
    font-size: 60px;
    font-weight: 700;
}

.banner .header-des {
    padding: 20px 60px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 28px;
}

/* donet today section styles */
.donet-today {
    width: 600px;
    padding: 40px 0;
    text-align: center;
    margin: 0 auto;
}

.today-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}

.today-des {
    color: #707070;
    font-size: 18px;
    margin-bottom: 15px;
}

.donet-amount {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.single-donet {
    font-size: 30px;
    color: #707070;
    font-weight: bold;
    padding: 40px;
    margin: 40px 5px;
}

.another {
    border: 2px solid #FF5959;
    background: #FFEEEE;
    border-radius: 5px;
}

.donet-form input {
    border: none;
    padding: 10px 0;
    color: #707070;
    font-weight: 700;
}

.donet-form input:focus {
    outline: none;
}

hr {
    margin-bottom: 20px;
    width: 800px;
    margin-left: -95px;
}


/* donet plan styles */
.donet-plan {
    width: 1100px;
}

.donet-plan-header {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.plan-items {
    display: flex;
    gap: 20px;
    text-align: left;
    margin-top: 40px;
}

.plan-item {
    padding: 40px 15px;
    background: rgb(156, 105, 105);
}

.plan-item img {
    padding: 20px 0;
}

.plan-item h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}

.plan-item p {
    padding: 20px 0;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}

.food {
    background: rgba(79, 157, 166, 0.1);
}

.shelter {
    background: rgba(255, 89, 89, 0.1);
}

.education {
    background: #e0dfa2;
}

/* your donation styles */
.your-donation {
    display: flex;
    gap: 30px;
    width: 1100px;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
}

.donation {
    padding: 0 25px;
    width: 50%;
}

.donation h1 {
    font-weight: 700;
    font-size: 43px;
    line-height: 54px;
    margin-bottom: 20px;
    color: #121212;
}

.donation p {
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    margin: 20px 0;
    width: 90%;
}

.image {
    width: 50%;
}

/* update section styles */
.update {
    text-align: center;
    padding: 50px 0;
}

.update-heading {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.update-heading h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.update-heading p {
    margin: 20px 0 50px 0;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}

.update-form {
    width: 690px;
    margin: 0 auto;
    background: #FFF4D6;
    padding: 50px 0;
}

.update-form input {
    height: 40px;
    width: 275px;
    padding: 0 10px;
    font-weight: 700;
}

/* footer section Styles */
footer {
    text-align: center;
    background: #0B0D17;
    width: 100%;
    padding: 40px 0;
    margin-top: 50px;
}

.footer h4 {
    color: #FF5959;
    font-size: 36px;
    letter-spacing: .5px;
    line-height: 44px;
    font-family: 'Lobster', cursive;
}

.footer p {
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    margin-top: 14px;
}